.header {
    position: absolute;

    width: 100%;

    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;

    &-container {
        display: flex;
        justify-content: space-between;
    }
}