.portfolio {

    &-visible-list,
    &-hidden-list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    &-hidden-list {
        position: absolute;

        transform: translateY(0);
        transition: transform $transition-duration linear;

        margin-top: 30px;
    }

    &-visible-item {

        &:nth-child(1) {
            border: 2px solid $accent-color;
        }


    }

    &-hidden-item {

        transform: translateY(0);

        transition: transform $transition-duration linear;

        &:nth-child(3) {
            border: 2px solid $accent-color;
        }

        &:nth-child(5) {
            border: 2px solid $accent-color;
        }
    }
}

.hidden-list-box {
    position: relative;

    height: 769px;
    overflow: hidden;
    transition: height $transition-duration linear;
}

.hidden {
    margin-top: 0;

    height: 0;
    transform: scaleY(0);
    transition: height $transition-duration linear;

    &-list {
        transform: translateY(-100%);
        transition: transform $transition-duration linear;
    }
}

.margin-bottom {
    margin-bottom: 30px;
}