.tagline {
    height: 416px;

    background-size: cover;
    background-image: url("../../images/order/order-bg.jpg");

    @media screen and (min-resolution: 192dpi) {
        background-image: url("../../images/order/order-bg@2x.jpg");
    }

    &-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 21px;

        height: 100%;
    }
}